In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
url = "https://www.numbeo.com/crime/rankings_current.jsp"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
}

In [4]:
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

In [6]:
# locate the crime table by its tag (usually the first table)
table = soup.find("table")
table

<table style="width: 100%;">
<tr>
<td class="container_around_logo_desktop" style="padding-top: 12px; padding-bottom: 14px; vertical-align: bottom; max-width: fit-content">
<a href="https://www.numbeo.com/cost-of-living/" style="border: 0; text-decoration:none;">
<img alt="" src="https://www.numbeo.com/images/numbeo_1B3B6F.svg" style="height: 60px; padding: 0px 0px; vertical-align: bottom; border: 0;"/></a>
</td>
<td style="padding-left:40px; padding-top: 5px; padding-bottom: 0px; vertical-align: middle; min-width: 440px; text-align: left;">
<div style="display: inline-block; width: 100%; margin-top: 10px; margin-bottom: 10px; text-align: left; vertical-align: bottom">
<nav style="display: inline-block; vertical-align: middle;">
<div class="standard_margin_inlineblock"> <form action="https://www.numbeo.com/common/dispatcher.jsp" id="menu_dispatch_form" method="get" style="display: inline; padding: 0; margin:0;">
<input name="where" style="display: inline; padding:0; margin:0;" type="hidden" value="https://www.numbeo.com/crime/in/"/>
<input class="city-selector-menu" id="city_selector_menu_city_id" name="city_selector_menu_city_id" placeholder="Select City" size="27" type="text"/>
<input id="menu_city_id" name="city_id" type="hidden"/>
<input id="name_menu_city_id" name="name_city_id" type="hidden"/>
</form>
</div>
<script>
whenDocReady(function() {
  	jQuery('#city_selector_menu_city_id').autocomplete({
  	  source: 'https://www.numbeo.com/common/CitySearchJson',
     minLength: 1,
     delay: 3,
     autoFocus: true,
     select: function(event, ui) {
         event.preventDefault();
         $('#name_menu_city_id').val(ui.item.label);
         $('#city_selector_menu_city_id').val(ui.item.label);
         $('#menu_city_id').val(ui.item.value);
jQuery('#menu_dispatch_form').submit();     },
     focus: function(event, ui) {
         event.preventDefault();
     }
	  })   .keydown(function(e){
	    if (e.keyCode === 13){
      if ($('#menu_city_id').val() == '') {
        e.preventDefault();
      }
      var val = $('#city_selector_menu_city_id').val();
		   $('#name_menu_city_id').val(val);
	   }
  }); // end autocompleter definition
$('#city_selector_menu_city_id').toggleClass('city-selector-menu');
$('#city_selector_menu_city_id').toggleClass('city-selector-menu');
 }); // end document ready
</script>
</nav>
</div>
</td>
<td style="vertical-align: middle; width: 468px; text-align: right;">
</td>
</tr>
</table>

In [8]:
rows = table.find_all("tr")
rows

[<tr>
 <td class="container_around_logo_desktop" style="padding-top: 12px; padding-bottom: 14px; vertical-align: bottom; max-width: fit-content">
 <a href="https://www.numbeo.com/cost-of-living/" style="border: 0; text-decoration:none;">
 <img alt="" src="https://www.numbeo.com/images/numbeo_1B3B6F.svg" style="height: 60px; padding: 0px 0px; vertical-align: bottom; border: 0;"/></a>
 </td>
 <td style="padding-left:40px; padding-top: 5px; padding-bottom: 0px; vertical-align: middle; min-width: 440px; text-align: left;">
 <div style="display: inline-block; width: 100%; margin-top: 10px; margin-bottom: 10px; text-align: left; vertical-align: bottom">
 <nav style="display: inline-block; vertical-align: middle;">
 <div class="standard_margin_inlineblock"> <form action="https://www.numbeo.com/common/dispatcher.jsp" id="menu_dispatch_form" method="get" style="display: inline; padding: 0; margin:0;">
 <input name="where" style="display: inline; padding:0; margin:0;" type="hidden" value="https://www.numbeo.com/crime/in/"/>
 <input class="city-selector-menu" id="city_selector_menu_city_id" name="city_selector_menu_city_id" placeholder="Select City" size="27" type="text"/>
 <input id="menu_city_id" name="city_id" type="hidden"/>
 <input id="name_menu_city_id" name="name_city_id" type="hidden"/>
 </form>
 </div>
 <script>
 whenDocReady(function() {
   	jQuery('#city_selector_menu_city_id').autocomplete({
   	  source: 'https://www.numbeo.com/common/CitySearchJson',
      minLength: 1,
      delay: 3,
      autoFocus: true,
      select: function(event, ui) {
          event.preventDefault();
          $('#name_menu_city_id').val(ui.item.label);
          $('#city_selector_menu_city_id').val(ui.item.label);
          $('#menu_city_id').val(ui.item.value);
 jQuery('#menu_dispatch_form').submit();     },
      focus: function(event, ui) {
          event.preventDefault();
      }
 	  })   .keydown(function(e){
 	    if (e.keyCode === 13){
       if ($('#menu_city_id').val() == '') {
         e.preventDefault();
       }
       var val = $('#city_selector_menu_city_id').val();
 		   $('#name_menu_city_id').val(val);
 	   }
   }); // end autocompleter definition
 $('#city_selector_menu_city_id').toggleClass('city-selector-menu');
 $('#city_selector_menu_city_id').toggleClass('city-selector-menu');
  }); // end document ready
 </script>
 </nav>
 </div>
 </td>
 <td style="vertical-align: middle; width: 468px; text-align: right;">
 </td>
 </tr>]

In [11]:
data = []
for row in rows:
    cols = [td.get_text(strip=True) for td in row.find_all("td")]
    if cols:  # skip header row
        data.append(cols)
data

[['', '', '']]

In [ ]:
# convert to DataFrame

ValueError: 4 columns passed, passed data had 3 columns